body {
    color: #ffffff;
    background: #413f3b url(images/bg.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90%;
    margin: 0;
}

a {
    color: #b5c1ad;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.header {
    background-image: url(images/bg-header.jpg);
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.nav {
    float: right;
    font-family: QuicksandBook, Arial, Helvetica, sans-serif;
    padding-top: 45px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 120px;
    background-image: url(images/bg-triangle.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-align: left;
}

h1, h2 {
    font-family: QuicksandBook, Arial, Helvetica, sans-serif;
    color: #b5c1ad;
}

h1 {
    font-size: 240%;
}

.intro {
    clear: left;
    font-size: 90%;
    line-height: 1.4em;
}

.main-story {
    background-image: url(images/header-triangle.png);
    background-repeat: no-repeat;
    background-position: 122px 142px;
    height: 570px;
}

.more-articles {
    border-bottom: 1px solid #807c72;
    padding: 10px;
}

.more-articles p {
    border-bottom: 1px solid #807c72;
    padding: 5px 0 15px 0;
    font-size: 80%;
}

.more-articles p:last-child {
    border-bottom: none;
}

.footer {
    clear: both;
    background: rgba(0,0,0,0.2);
    padding: 5px 10px;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-align: right;
}

.footer a {
    color: #807c72;
}
