body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #666666;
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #eaf6f6;
    border-spacing: 0px;
}

th, td {
    border-spacing: 0px;
    font-size: 90%;
    padding: 5px 30px 5px 10px;
    margin: 0px;
}
th, td {
    text-align: left;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr.head th {
    color: #fff;
    background-color: #547ca0;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4b6;
    text-shadow: -1px -1px -1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #e8eff5;
}

fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #781414;
    background-color: #ffffff;
    line-height: 1.6em;
}
legend {
    font-style: italic;
    color: #666666;
}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}
input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: #00CC33;
    color: #ffffff;
    cursor: pointer;
}
.title{
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    text-align: right;
}

table tr:first-child {
    background-color: #9fd3ff;
    font-weight: bold;
}

li {
    list-style: none;
    position: relative;
    padding-left: 30px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url("images/icon-plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}